@media (max-width: 1227px) {
  #title{
    font-size: 1.4em;
  }
  nav ul{
    font-size: 1.4em;
    margin-left: 0;
  }
  nav{
    width: 45%;
  }
  #formTitle{
    font-size: 1.1em;
  }
}

@media (max-width: 880px) {
  #title{
    font-size: 1.1em;
  }
  nav ul{
    font-size: 1.1em;
  }
  #formTitle{
    font-size: .8em;
  }
  #logoImg{
    width: 70%;
  }
  #orTable{
    padding-left: 15%;
  }
  a{
    font-size: .9em;
  }
}

@media (min-width: 640px) and (max-width: 732px) {
  #title{
    font-size: .9em;
  }
  nav{
    width: 50%;
  }

  #logoImg{
    width: 75%;
  }
  #orTable{
    padding-left: 10%;
  }
  a{
    font-size: .9em;
  }

}

@media (max-width: 640px) {
nav{
  width: 100px;
  height: 80px;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  margin-right: 0;
}
ul{
  width: 100%;
}
li{
  display: none;
  margin: auto;
}
#navBurg{
  display: inline-block;
}
#title{
  font-size: 1em;
  width: 80%;
}
#logoImg{
  width: 80%;
}
#orTable{
  padding: 0;
  padding-left: 4%;
  padding-bottom: 5%;
}
a{
  font-size: .7em;
}
strong{
  Font-size: 1.1em;
}
#message{
  width: 25em;
}

}
